body{
    background-color: #1b6d85;
}

.panel-default > .panel-heading {
    color: white;
    background-color: #843534;
    margin: 0 auto;
}

img{
    width:60px;
    height:60px;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 10px;
}